<%- include('../layouts/proheader.ejs') %>
<div class="bg-image" style=" background-image: url('https://i.pinimg.com/564x/65/ff/23/65ff2368333ac49aff8e33a06ce9a11f.jpg');
            height: 100vh">
<h1>Welcome, <%= admin.name %></h1>
<a href="/admin/" class="btn btn-primary ms-2 btn-lg">Logout</a>
<a href="/admin/dashboard/" class="btn btn-primary ms-2 btn-lg">View Users</a>
<a href="/admin/add-product" class="btn btn-primary ms-2 btn-lg">Add Product</a>
<a href="/admin/view-product" class="btn btn-primary ms-2 btn-lg">View Products</a>
<a href="/admin/orderlist" class="btn btn-primary ms-2 btn-lg">Orders</a>
<a href="/admin/viewCoupon" class="btn btn-primary ms-2 btn-lg">Coupons</a>

<a href="/admin/home" class="btn btn-primary ms-2 btn-lg">Go Back</a>
<table>
    <tr>
        <td style="font: weight 20px;">Name:</td>
        <td>
            <%= admin.name%>
        </td>
    </tr>
    <tr>
        <td>Email:</td>
        <td>
            <%= admin.email%>
        </td>
    </tr>
</table>
</div>



<%- include('../layouts/profooter') %>



