

<%- include('../layouts/adminHeader') %>



    <head>

        <script src="https://code.jquery.com/jquery-3.5.1.js"></script>
        <script src="https://cdn.datatables.net/1.13.1/js/jquery.dataTables.min.js"></script>
        <script src="https://cdn.datatables.net/buttons/2.3.2/js/dataTables.buttons.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/pdfmake.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/vfs_fonts.js"></script>
        <script src="https://cdn.datatables.net/buttons/2.3.2/js/buttons.print.min.js"></script>
        <link rel="stylesheet" type="text/css" href="/DataTables/datatables.css">
        <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.13.1/css/jquery.dataTables.css">
    </head>

    <body>
        <div class="container mt-5">
            <h3 class="align-items-center justify-content-center ">USERS LIST</h3>
            <table id="myTable" class="table align-middle mb-0 bg-white">
                <thead class="bg-light">
                    <tr>
                        <th>Sl no</th>
                        <th>Name</th>
                        <th>email</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    <% for(let i = 1;i <= users.length; i++){%>
                        <tr>
                            <td>
                                <div class="d-flex align-items-center">

                                    <p><%= i %></p>

                                    <div class="ms-3">
                                        <p class="fw-bold mb-1 ml-3">
                                            
                                        </p>
                                        <p class="text-muted mb-0 ml-3"> %>
                                        </p>
                                    </div>
                                </div>
                            </td>
                            <td><%= users[i-1].name %>
                                


                            </td>
                            <td>
                                <%= users[i-1].email %>
                            
                            </td>
                            <td>
                                <p class="fw-normal mb-1">
                                    <a href="/admin/block-user?id=<%= users[i-1]._id %>" class="btn btn-primary ms-2 ">
                                        <% if(users[i-1].isVerified) { %>
                                            Block
                                            <% }else{ %>
                                                Unblock
                                                <% } %>
                                </p>
                            </td>

                        </tr>
                        <%}%>

                </tbody>
            </table>
        </div>
        <script>
            $(document).ready(function () {
                $('#myTable').DataTable({
                   
                    
                });
            })
        </script>

    </body>

    </html>